@media screen and (max-width: 1440px) {
  .container {
    width: 960px;
  }
  h2 {
    font-size: 36px;
  }
  /* 헤더 🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .hd_container {
    width: 960px;
  }
  #gnb {
    width: fit-content;
    gap: 20px;
  }

  /* 메인 비주얼 🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .main_title {
    left: 0%;
  }
  .main_title h2 {
    font-size: 40px;
  }
  .main_title p {
    font-size: 24px;
    line-height: 1.5;
  }
  .main_title p br {
    display: block;
  }
  .menu_box_wrapper {
    gap: 70px;
  }
  .text_box {
    width: 180px;
    height: 180px;
  }
  .text_box h3 {
    font-size: 22px;
  }
  .text_box p {
    font-size: 16px;
  }
  /* 섹션 1 캐리미와 함께 편안함과 즐거움이 가득한 여유로운 여행을 즐겨보세요.*/
  .video_wrap {
    gap: 150px;
  }
  .video_box {
    width: 340px;
    height: 340px;
  }
  .video_right_text {
    width: 430px;
  }
  .video_right_text > span {
    font-size: 32px;
  }
  .video_right_text > h3 {
    font-size: 32px;
  }
  .video_right_text > p {
    font-size: 20px;
  }

  /* 섹션 2 이런상황에  이용해보는건 어떄요?🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .slide_wrap {
    max-width: 50%;
    margin-right: 20px;
  }
  .slide_box {
    gap: 40px;
    padding: 30px 0 0 30px;
  }

  .slide_text h3 {
    font-size: 24px;
  }
  .slide_text p {
    font-size: 16px;
  }
  .slide_img {
    width: 180px;
    height: 180px;
    background-color: aqua;
    margin-right: 10px;
  }
  .slide_img img {
    background-color: bisque;
    scale: 0.8;
  }
  /* 섹션 3 용해주신 고객님들의 솔직한 후기 🚗🚗🚗 */
  .review_box {
    width: 48%;
    height: fit-content;
  }
  .bottom_icon p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
  }
  .bottom_icon img {
    width: 17px;
    height: 17px;
  }
  .review_box:nth-child(5),
  .review_box:nth-child(6) {
    display: none;
  }

  /* 섹션 4 캐리 미 소식 🚗🚗🚗🚗🚗🚗🚗*/
  .table_title > h3 {
    font-size: 22px;
    font-weight: 700;
    padding: 0 8px;
  }
  .table_title > p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    padding: 0 8px;
  }
  .table_text div p a {
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    text-align: center;
  }
  .table_text > p:last-child {
    display: none;
  }
  .table_text p a {
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
