@media screen and (max-width: 1440px) {
  .container {
    width: 90%;
  }
  h2 {
    font-size: 36px;
  }
  /* 헤더 🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .hd_container {
    width: 90%;
  }
  #gnb {
    width: fit-content;
    gap: 20px;
  }

  /* 메인 비주얼 🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .main_title {
    left: 0%;
  }
  .main_title h2 {
    font-size: 40px;
  }
  .main_title p {
    font-size: 24px;
    line-height: 1.5;
  }
  .main_title p br {
    display: block;
  }
  .menu_box_wrapper {
    gap: 70px;
  }
  .text_box {
    width: 180px;
    height: 180px;
  }
  .text_box h3 {
    font-size: 22px;
  }
  .text_box p {
    font-size: 16px;
  }
  /* 섹션 1 이런상황에  이용해보는건 어떄요?🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
   {
  }

  .video_box {
    width: 340px;
    height: 340px;
  }
  .video_right_text {
    width: 430px;
  }
  .video_right_text > span {
    font-size: 30px;
  }
  .video_right_text > h3 {
    font-size: 30px;
  }
  .video_right_text > p {
    font-size: 18px;
  }

  /* 섹션 2 이런상황에  이용해보는건 어떄요?🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
  .slide_wrap {
    max-width: 50%;
    margin-right: 20px;
  }
  .slide_box {
    gap: 0px;
    padding: 40px 0 0 40px;
  }
  .slide_text h3 {
    font-size: 24px;
  }
  .slide_text p {
    font-size: 16px;
  }
  .slide_img {
    width: 220px;
    height: 230px;
    margin-bottom: 10px;
    background-color: bisque;
    position: relative;
    left: 0;
  }
  .slide_img img {
    position: absolute;

    right: -50px;
    scale: 0.6;
    background-color: aqua;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
