@charset "utf-8";
@import url("./common.css");

/* 메인 비주얼 🚗🚗🚗🚗🚗🚗🚗*/
.main_sec {
  width: 100%;
  height: 100%;
}
.main_sec .container {
  position: relative;
}
.main_visual {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main_visual .main_video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.bg_filter {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
}
.main_title {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 25%;
  left: 7%;
  z-index: 31;
}
.main_title h2 {
  color: #fff;
  font-size: var(--xl-font-size);
  font-weight: 700;
}
.main_title p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}
.main_title p br {
  display: none;
}

.menu_box_wrapper {
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  z-index: 30;
}
.text_box {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  transition: 0.8s;
  background-color: rgba(255, 255, 255, 0.3);
}
.text_box h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.text_box h3::after {
  content: "";
  font-size: 0;
  display: block;
  width: 120px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0px auto;
  margin-top: 16px;
}
.text_box p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
}
.text_box:hover {
  transform: scale(1.15) translateY(-10%);
}

/* sec1 일상의 편안함을 추구하며 이성적인 삶을 꿈꾸다.🚗🚗🚗🚗🚗🚗🚗*/
.sec1 {
  margin-top: 120px;
}
.sec1 .container h2 {
  margin-bottom: 120px;
}
.video_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  margin-bottom: 140px;
}

.video_box {
  width: 440px;
  height: 440px;
  border-radius: 100%;
  overflow: hidden;
}
.video_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.2);
}

.video_right_text {
  width: 500px;
  height: fit-content;
}
.video_right_text > span {
  font-size: var(--lg-font-size);
  font-weight: 700;
  color: var(--text-dark);
}
.video_right_text > span::before {
  content: "";
  font-size: 0;
  display: inline-block;
  width: 160px;
  height: 2px;
  background-color: var(--text-gray);
}
.video_right_text > h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video_right_text p {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.7;
  color: #222;
}

/* 섹션 2 이런상황에  이용해보는건 어떄요?🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
.sec2 {
  margin-top: 120px;
}
.swiper {
  width: 100%;
}
.swiper h2 {
  margin-bottom: 60px;
}
.slide_wrap {
  max-width: 607px;
  max-height: 340px;
  border-radius: 20px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.slide_box {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 54px 0 0 40px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.slide_text {
  width: fit-content;
  height: fit-content;
}
.slide_text h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.slide_text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #777;
}
.slide_img {
  width: 300px;
  height: 230px;
  overflow: hidden;
  margin-bottom: 40px;
}
.slide_img img {
  height: 100%;
  /* object-fit: cover; */
}

/* 섹션 3 캐리미 Review  🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗*/
.sec3 {
  margin-top: 120px;
}

.review_wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.review_box {
  width: 32.2%;
  height: 180px;
  padding: 24px 28px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 14px;
  box-sizing: border-box;
  transition: 0.3s;
}

.review_box:hover {
  transform: translateY(-5%);
  background-color: #fff;
  cursor: pointer;
}
.review_box > .bottom_text {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.review_box > .bottom_text > p {
  width: 260px;
  height: 50px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.review_box > .bottom_text > img {
  width: 100px;
  height: 70px;
  margin-right: 24px;
  object-fit: cover;
}
.top_icon_text {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.top_icon_text > p {
  font-weight: 400;
  font-size: var(--xs-font-size);
  color: var(--text-gray);
}
.left_icon {
  display: flex;
  align-items: center;
}
.left_icon p {
  font-weight: 300;
  color: var(--text-gray);
}
.left_icon > .bar {
  background-color: #d9d9d9;
  margin: 0 14px;
}

.bottom_icon {
  height: fit-content;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-top: 8px;
  align-items: center;
  gap: 8px;
}
.bottom_icon p {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.bottom_icon img {
  width: 18px;
  height: 18px;
}
/* 섹션 4 캐리 미 소식 🚗🚗🚗🚗🚗🚗🚗*/
.sec4 {
  margin-top: 120px;
  box-sizing: border-box;
}
.table_wrap {
  display: flex;
  justify-content: space-between;
}
.table_box {
  width: calc(50% - 20px);
  height: auto;
}
.table_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #222;
  padding-bottom: 16px;
  box-sizing: border-box;

  align-items: center;
}
.table_title > h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 0 8px;
}
.table_title > p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  padding: 0 8px;
}

.table_text {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 8px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.table_text div {
  width: 330px;
}

.table_text div p a {
  font-weight: 600;
  font-size: 18px;
}
.table_text p a {
  font-weight: 600;
  font-size: 18px;
}

/* 섹션5 캐리미와 함께하는 파트너 🚗🚗🚗🚗🚗🚗🚗*/
.sec5 {
  padding: 100px 0;
}

.img_wrap {
  width: 100%;
  height: 88px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to ri);
}
.img_wrapper1,
.img_wrapper2 {
  width: max-content;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  padding-right: 20px;
}

.img_wrapper1 {
  animation: brand_logo1 16s linear infinite;
}
.img_wrapper2 {
  animation: brand_logo2 16s linear infinite;
}
@keyframes brand_logo1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes brand_logo2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.img_wrap::before,
.img_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.img_wrap::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.img_wrap::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
