@media screen and (max-width: 1440px) {
  .container {
    width: 960px;
  }
  h2 {
    font-size: 36px;
  }
  /* 헤더 */
  .hd_container {
    width: 960px;
  }
  /* 메인페이지 */
  .main_visual > img:first-child {
    left: -5%;
  }
  .main_visual > img + img {
    bottom: 5%;
  }
  .main_title p {
    font-size: 22px;
  }
  .main_title h2 {
    font-size: 34px;
  }
  /* 섹션1 */
  .sec1_text_left_box {
    height: 60px;
    line-height: 60px;
  }
  .sec1_text_right_box {
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 682px;
  }
  h2 {
    font-size: 32px;
  }

  /* 헤더 */
  .hd_container {
    width: 682px;
  }
  #gnb {
    display: none;
  }
  .right_text > a {
    display: none;
  }
  .right_text > a:nth-child(4) {
    display: block;
  }
  .right_text > a:nth-child(4) img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  .right_text > span {
    display: none;
  }
  .menu_btn {
    display: block;
  }

  /* 메인섹션 */
  .main_visual > img:first-child {
    left: -15%;
  }
  .main_visual > img + img {
    bottom: -10%;
    right: -12%;
  }
  .main_title p {
    font-size: 20px;
    font-weight: 700;
    color: #428dfc;
    margin-bottom: 20px;
  }

  .main_title h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
  }

  .main_bottom > p {
    font-size: 16px;
  }
  .button_wrap div {
    padding: 10px 16px 10px 20px;
  }
  .button_wrap a p {
    font-size: 16px;
  }
  .button_wrap a img {
    width: 16px;
    height: 16px;
  }
  /* 섹신1 */

  .sec1_text_left_box {
    width: 53vw;
    font-size: 18px;
  }
  .sec1_text_right_box {
    width: 53vw;
    font-size: 18px;
  }
  /* 섹션2 */
  .sec2_text_box {
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  h2 {
    font-size: 28px;
  }
  /* 헤더 */
  .hd_container {
    width: 85%;
  }
  /* 메인섹션 */
  .main_title h2 {
    text-align: start;
  }
  .main_visual > img:first-child {
    top: -10%;
    left: -25%;
    scale: 0.7;
  }
  .main_visual > img + img {
    bottom: -10%;
    right: -20%;
    scale: 0.7;
  }
  .main_bottom > p {
    padding: 16px;
  }
  .button_wrap div {
    padding: 10px 16px 10px 20px;
  }
  .button_wrap a p {
    font-size: 16px;
  }
  .button_wrap a img {
    width: 16px;
    height: 16px;
  }
  /* 섹신1 */

  .sec1_text_left_box {
    width: 66.5vw;
    font-size: 16px;
  }
  .sec1_text_right_box {
    width: 66.5vw;
    font-size: 16px;
  }
  /* 섹션2 */
  .sec2_text_box {
    height: 80px;
    padding: 0 32px;
  }
  .sec2_text_box > p {
    display: none;
  }
  .sec2_text_box span {
    margin-right: 60px;
  }
  .sec2_bottom_box a p {
    padding: 10px 14px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 85%;
  }
  h2 {
    font-size: 26px;
  }
  /* 메인섹션 */
  .main_visual > img:first-child {
    top: -10%;
    left: -35%;
    scale: 0.6;
  }
  .main_visual > img + img {
    bottom: -15%;
    right: -25%;
    scale: 0.8;
  }
  .main_title p {
    font-size: 18px;
  }
  .main_title h2 {
    font-size: 26px;
  }
  /* 섹신1 */

  .sec1_text_left_box {
    width: 66.5vw;
  }
  .sec1_text_right_box {
    width: 66.5vw;
  }
  /* 섹션2 */
  .sec2_text_box {
    height: 80px;
    padding: 0 32px;
  }

  .sec2_text_box span {
    margin-right: 40px;
  }
  .sec2_bottom_box a p {
    padding: 10px 14px;
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 95%;
  }
  h2 {
    font-size: 22px;
  }
  /* 메인섹션 */
  .main_visual > img:first-child {
    top: -15%;
    left: -50%;
    scale: 0.4;
  }
  .main_visual > img + img {
    bottom: -15%;
    right: -35%;
    scale: 0.5;
  }
  .main_title p {
    font-size: 20px;
  }
  .main_title h2 {
    font-size: 24px;
  }
  .button_wrap {
    gap: 10px;
  }
  .button_wrap div {
    padding: 8px 12px 8px 14px;
  }
  .button_wrap a {
    display: flex;
    align-items: center;
  }
  .button_wrap a p {
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 8px;
  }
  .button_wrap a img {
    width: 16px;
    height: 16px;
  }

  /* 섹신1 */

  .sec1_text_left_box {
    width: 92.5vw;
  }
  .sec1_text_right_box {
    width: 92.5vw;
  }
  /* 섹션2 */
  .sec2_text_box {
    height: 80px;
    padding: 0 32px;
  }

  .sec2_text_box span {
    margin-right: 40px;
  }
  .sec2_bottom_box a p {
    padding: 10px 14px;
    font-size: 16px;
  }
  /* 푸터 */
  .top_text_box p {
    font-size: 12px;
  }
  .bottom_left_text h4 {
    font-size: 14px;
  }
  .bottom_left_text p {
    font-size: 12px;
  }
  .bottom_text_wrap > p {
    font-size: 12px;
  }
}
