@media screen and (max-width: 1440px) {
  /* 메인페이지 */
  .main_visual > img:first-child {
    left: -5%;
  }
  .main_visual > img + img {
    bottom: -5%;
  }
  .container h2 {
    font-size: 36px;
  }
  .login_wrapper h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  /* 메인섹션 */
  .main_visual > img:first-child {
    left: -15%;
  }
  .main_visual > img + img {
    bottom: -10%;
    right: -12%;
  }
  .container h2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .main_visual .container {
    width: 400px;
  }

  /* 메인섹션 */

  .main_visual > img:first-child {
    left: -20%;
    scale: 0.8;
  }
  .main_visual > img + img {
    bottom: -5%;
    right: -10%;
    scale: 0.8;
  }
  /* 메인섹션 */
  .main_visual > img:first-child {
    top: -10%;
    left: -25%;
    scale: 0.7;
  }
  .main_visual > img + img {
    bottom: -10%;
    right: -20%;
    scale: 0.7;
  }
  .container h2 {
    font-size: 32px;
  }
  .login_wrapper h3 {
    font-size: 20px;
  }
  .login_box {
    height: 46px;
  }
  .chk_box p {
    font-size: 16px;
  }
  .chk_box input {
    width: 16px;
    height: 16px;
  }
  .chk_box input:checked::before {
    font-size: 11px;
  }
  .login_btn_wrap button {
    height: 48px;
    font-size: 18px;
  }
  .btn_bottom p {
    font-size: 16px;
  }
  .login_bottom_btn_wrapper button {
    height: 48px;
  }
  .login_bottom_btn_wrapper button p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main_visual .container {
    width: 80%;
  }

  /* 메인섹션 */
  .main_visual > img:first-child {
    top: -10%;
    left: -35%;
    scale: 0.6;
  }
  .main_visual > img + img {
    bottom: -15%;
    right: -25%;
    scale: 0.8;
  }
  .container h2 {
    font-size: 28px;
  }
  .login_box {
    height: 40px;
  }
  .login_btn_wrap button {
    height: 40px;
    font-size: 16px;
  }
  .login_bottom_btn_wrapper button {
    height: 40px;
  }
  .login_bottom_btn_wrapper button p {
    font-size: 16px;
  }
}
