@charset "utf-8";
@import url("./reset.css");
@import url("./sub_common.css");

/* 메인섹션 */
.main_visual {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main_visual > img:first-child {
  position: absolute;
  top: 0;
  z-index: 1;
}
.main_visual > img + img {
  position: absolute;
  right: 0;
  bottom: 0%;
  z-index: 1;
}
.main_visual .container {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}
.main_title_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 220px;
  margin-bottom: 60px;
  z-index: 5;
}

.main_title_wrap div:last-child {
  width: fit-content;
  height: fit-content;
}
.main_title_wrap div:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_title {
  width: fit-content;
  height: fit-content;
  margin-top: 80px;
}
.main_title p {
  font-size: 24px;
  font-weight: 700;
  color: #428dfc;
  margin-bottom: 20px;
}

.main_title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.6;
}
.main_bottom {
  width: fit-content;
  height: fit-content;
  z-index: 5;
}
.main_bottom > p {
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  color: #777;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.button_wrap {
  margin-top: 24px;
  display: flex;
  gap: 40px;
}
.button_wrap div {
  width: fit-content;
  height: fit-content;
  padding: 10px 24px 10px 32px;
  border: 1px solid #888;
  background-color: #fff;
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.3s;
}
.button_wrap a {
  display: flex;
  align-items: center;
}
.button_wrap a p {
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  padding-right: 8px;
}

.button_wrap div:hover {
  background-color: #428dfc;
  border-color: #5797f8;
  color: #fff;
}
.button_wrap div:hover a {
  color: #fff;
}
.button_wrap div:hover a img {
  filter: invert(1);
}
/* sec1 택시 및 보관 서비스는 어떻게 이용하는건가요? */
.sec1_text_box_wrapper {
  margin-bottom: 60px;
}
.sec1_text_box_wrapper > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 8px;
  margin-bottom: 10px;
}
.sec1_box_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sec1_text_box {
  height: 180px;
  padding: 24px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #fafafa;
  flex: 1;
}
.sec1_text_box h3:first-child {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.sec1_text_box h3 + h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.sec1_text_box p {
  font-size: 18px;
  font-weight: 400;
  color: #777;
}

/* 섹션2 서비스 이용금이 궁금하신가요? */
.sec2 .container h2 {
  margin-bottom: 120px;
}
.sec2_img_box_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  gap: 190px;
}
.sec2_img_box_wrap {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}
.sec2_img_box {
  width: 236px;
  height: 236px;
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.sec2_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}
.sec2_text_box {
  width: fit-content;
  height: fit-content;
}
.sec2_text_box h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 8px;
}
.sec2_text_box > p {
  font-size: 18px;
  font-weight: 500;
  color: #777;
  margin-bottom: 40px;
  margin-left: 8px;
}
.sec2_button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: 1px solid #888;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.3s;
}
.sec2_button a {
  display: flex;
}
.sec2_button a p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}
.sec2_button img {
  width: 16px;
  height: 16px;
}
.sec2_button:hover {
  background-color: #428dfc;
  border-color: #5797f8;
}
.sec2_button:hover a {
  color: #fff;
}
.sec2_button:hover a img {
  filter: invert(1);
}
/* 섹션 3 서비스 이용시 꼭 확인해주세요 !*/
.sec3 {
  width: 100%;
  height: 664px;
  background-color: #f2f2f2;
}
.sec3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec3_text_box_wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sec3_text_box {
  width: 33.33%;
  height: 390px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: #fff;
}
.sec3_text_box h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
}
.sec3_text_box ul {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  text-align: left;
}
.sec3_text_box li {
  list-style-type: disc;
  font-size: 20px;
  font-weight: 500;
  color: #777;
  margin-bottom: 28px;
}
/* 섹션4 배송 도착 예정 시간 대해 알려드릴게요.*/
.sec4_text_box_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sec4_text_box {
  width: 50%;
  height: 300px;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 40px 50px;
  box-sizing: border-box;
}
.sec4_text_box h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.sec4_bottom_text_box {
  width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
}
.sec4_bottom_text_box p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 26px;
}
.sec4_bottom_text_box span {
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 0 10px 10px 10px;
  background-color: rgba(66, 141, 252, 0.3);
}
/* 섹션5 편안한 여행을 위해 노력하겠습니다.  */
.sec5 {
  margin-top: 240px;
}
.sec5 > div {
  width: 100%;
  height: 360px;
  background-color: #5797f8;
  position: relative;
  top: 0;
  left: 0;
}
.sec5 div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.bg_filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 5;
}
.sec5_text_title {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}
.sec5_text_title h2 {
  width: fit-content;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}
.sec5_text_title > p {
  height: fit-content;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px;
}
.sec5_button {
  width: fit-content;
  height: fit-content;
  padding: 13px 26px;
  background-color: #fff;
  border-radius: 40px;
  box-sizing: border-box;
  transition: 0.3s;
}
.sec5_button a {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  gap: 8px;
}
.sec5_button img {
  width: 16px;
  height: 16px;
}
.sec5_button:hover {
  background-color: #428dfc;
}
.sec5_button:hover a {
  color: #fff;
}
.sec5_button:hover img {
  filter: invert(1);
}
/* 푸터 */
footer .container {
  margin-top: 0;
}
